<!DOCTYPE html>
<html>
    <head>
        <title>Prajakeeya</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/login.css">
    </head>
    <body>
        <form class="login-form" action="/admin1Login" method="POST">
            <div class="login-form__logo-container">
                <img class="login-form__logo" src="/images/adminLoginIcon.png" alt="Logo">
            </div>
            <div class="login-form__content">
                <div class="login-form__header">Login to your account</div>
                <input class="login-form__input" type="text" name="username" placeholder="Username">
                <input class="login-form__input" type="password" name="password" placeholder="Password">
                <button class="login-form__button" type="submit">Login</button>
                <div class="login-form__links">
                    <a class="login-form__link" href="/">Forgot your password?</a>
                </div>
            </div>
        </form>
    </body>
</html>
